/* colors.scss */
:root {
  /* Base Colors */
  --fleet-color-white: #ffffff;
  --fleet-color-black: #000000;
  --fleet-color-transparent: rgba(255, 255, 255, 0);

  /* Text Colors */
  --fleet-color-text-primary: #101828;
  --fleet-color-text-secondary: #344054;
  --fleet-color-text-tertiary: #475467;
  --fleet-color-text-quaternary: #667085;
  --fleet-color-text-disabled: #667085;
  --fleet-color-text-placeholder: #667085;

  /* Gray (light mode) */
  --fleet-color-gray-light-25: #fcfcfd;
  --fleet-color-gray-light-50: #f9fafb;
  --fleet-color-gray-light-100: #f2f4f7;
  --fleet-color-gray-light-200: #eaecf0;
  --fleet-color-gray-light-300: #d0d5dd;
  --fleet-color-gray-light-400: #98a2b3;
  --fleet-color-gray-light-500: #667085;
  --fleet-color-gray-light-600: #475467;
  --fleet-color-gray-light-700: #344054;
  --fleet-color-gray-light-800: #1d2939;
  --fleet-color-gray-light-900: #101828;
  --fleet-color-gray-light-950: #0c111d;

  /* Gray (dark mode) */
  --fleet-color-gray-dark-25: #fafafa;
  --fleet-color-gray-dark-50: #f5f5f6;
  --fleet-color-gray-dark-100: #f0f1f1;
  --fleet-color-gray-dark-200: #ececed;
  --fleet-color-gray-dark-300: #e0e0e2;
  --fleet-color-gray-dark-400: #b4b4b6;
  --fleet-color-gray-dark-500: #94969c;
  --fleet-color-gray-dark-600: #61646c;
  --fleet-color-gray-dark-700: #333741;
  --fleet-color-gray-dark-800: #1f242f;
  --fleet-color-gray-dark-900: #161826;
  --fleet-color-gray-dark-950: #0c111d;

  /* Brand Colors */
  --fleet-color-brand-25: #f5f2ff;
  --fleet-color-brand-50: #f0e9ff;
  --fleet-color-brand-100: #ede0ff;
  --fleet-color-brand-200: #dbbfff;
  --fleet-color-brand-300: #d68bff;
  --fleet-color-brand-400: #c24bff;
  --fleet-color-brand-500: #a637ff;
  --fleet-color-brand-600: #8533e6;
  --fleet-color-brand-700: #7326b2;
  --fleet-color-brand-800: #5b1d99;
  --fleet-color-brand-900: #421176;
  --fleet-color-brand-950: #321157;

  /* Error Colors */
  --fleet-color-error-25: #fff0f2;
  --fleet-color-error-50: #ffe0e6;
  --fleet-color-error-100: #ffcad5;
  --fleet-color-error-200: #ff8fa0;
  --fleet-color-error-300: #f4646b;
  --fleet-color-error-400: #d62b2b;
  --fleet-color-error-500: #ba2525;
  --fleet-color-error-600: #992020;
  --fleet-color-error-700: #791a1a;
  --fleet-color-error-800: #5b1313;
  --fleet-color-error-900: #421010;

  /* Warning Colors */
  --fleet-color-warning-25: #fff5e6;
  --fleet-color-warning-50: #ffebcc;
  --fleet-color-warning-100: #ffd399;
  --fleet-color-warning-200: #ffaa66;
  --fleet-color-warning-300: #ff8133;
  --fleet-color-warning-400: #ff661a;
  --fleet-color-warning-500: #ff4d00;
  --fleet-color-warning-600: #e63b00;
  --fleet-color-warning-700: #b32c00;
  --fleet-color-warning-800: #802000;
  --fleet-color-warning-900: #661900;

  /* Success Colors */
  --fleet-color-success-25: #e6f5e6;
  --fleet-color-success-50: #ccebcc;
  --fleet-color-success-100: #99d799;
  --fleet-color-success-200: #66c266;
  --fleet-color-success-300: #33ad33;
  --fleet-color-success-400: #1f991f;
  --fleet-color-success-500: #198519;
  --fleet-color-success-600: #147014;
  --fleet-color-success-700: #105b10;
  --fleet-color-success-800: #0c470c;
  --fleet-color-success-900: #093b09;

  /* Secondary Colors */
  /* ******************************************************** */
  /* Gray Blue */
  --fleet-color-gray-blue-25: #fcfcfd;
  --fleet-color-gray-blue-50: #f8f9fc;
  --fleet-color-gray-blue-100: #eaecf5;
  --fleet-color-gray-blue-200: #d5d9eb;
  --fleet-color-gray-blue-300: #b3b8db;
  --fleet-color-gray-blue-400: #717bbc;
  --fleet-color-gray-blue-500: #4e5ba6;
  --fleet-color-gray-blue-600: #3e4784;
  --fleet-color-gray-blue-700: #363f72;
  --fleet-color-gray-blue-800: #293056;
  --fleet-color-gray-blue-900: #101323;
  --fleet-color-gray-blue-950: #0d0f1c;

  /* Gray Cool */
  --fleet-color-gray-cool-25: #fcfcfd;
  --fleet-color-gray-cool-50: #f9f9fb;
  --fleet-color-gray-cool-100: #eff1f5;
  --fleet-color-gray-cool-200: #dcdfea;
  --fleet-color-gray-cool-300: #b9c0d4;
  --fleet-color-gray-cool-400: #7d89b0;
  --fleet-color-gray-cool-500: #5d6b98;
  --fleet-color-gray-cool-600: #4b5578;
  --fleet-color-gray-cool-700: #404968;
  --fleet-color-gray-cool-800: #30374f;
  --fleet-color-gray-cool-900: #111322;
  --fleet-color-gray-cool-950: #0e101b;

  /* Gray Modern */
  --fleet-color-gray-modern-25: #fcfcfd;
  --fleet-color-gray-modern-50: #f8fafc;
  --fleet-color-gray-modern-100: #eef2f6;
  --fleet-color-gray-modern-200: #e3e8ef;
  --fleet-color-gray-modern-300: #cdd5df;
  --fleet-color-gray-modern-400: #9aaab2;
  --fleet-color-gray-modern-500: #697586;
  --fleet-color-gray-modern-600: #4b5565;
  --fleet-color-gray-modern-700: #364152;
  --fleet-color-gray-modern-800: #202939;
  --fleet-color-gray-modern-900: #121926;
  --fleet-color-gray-modern-950: #0d121c;

  /* Gray Neutral */
  --fleet-color-gray-neutral-25: #fcfcfd;
  --fleet-color-gray-neutral-50: #f9fafb;
  --fleet-color-gray-neutral-100: #f3f4f6;
  --fleet-color-gray-neutral-200: #e5e7eb;
  --fleet-color-gray-neutral-300: #d2d6db;
  --fleet-color-gray-neutral-400: #9da4ae;
  --fleet-color-gray-neutral-500: #6c737f;
  --fleet-color-gray-neutral-600: #4d5761;
  --fleet-color-gray-neutral-700: #384250;
  --fleet-color-gray-neutral-800: #1f2a37;
  --fleet-color-gray-neutral-900: #111927;
  --fleet-color-gray-neutral-950: #0d121c;

  /* Gray Iron */
  --fleet-color-gray-iron-25: #fcfcfc;
  --fleet-color-gray-iron-50: #fafafa;
  --fleet-color-gray-iron-100: #f4f4f5;
  --fleet-color-gray-iron-200: #e4e4e7;
  --fleet-color-gray-iron-300: #d1d1d6;
  --fleet-color-gray-iron-400: #a0a0ab;
  --fleet-color-gray-iron-500: #70707b;
  --fleet-color-gray-iron-600: #51525c;
  --fleet-color-gray-iron-700: #3f3f46;
  --fleet-color-gray-iron-800: #26272b;
  --fleet-color-gray-iron-900: #1a1a1e;
  --fleet-color-gray-iron-950: #131316;

  /* Gray True */
  --fleet-color-gray-true-25: #fcfcfc;
  --fleet-color-gray-true-50: #fafafa;
  --fleet-color-gray-true-100: #f5f5f5;
  --fleet-color-gray-true-200: #e5e5e5;
  --fleet-color-gray-true-300: #d6d6d6;
  --fleet-color-gray-true-400: #a3a3a3;
  --fleet-color-gray-true-500: #737373;
  --fleet-color-gray-true-600: #525252;
  --fleet-color-gray-true-700: #424242;
  --fleet-color-gray-true-800: #292929;
  --fleet-color-gray-true-900: #141414;
  --fleet-color-gray-true-950: #0f0f0f;

  /* Gray Warm */
  --fleet-color-gray-warm-25: #fdfdfc;
  --fleet-color-gray-warm-50: #fafaf9;
  --fleet-color-gray-warm-100: #f5f5f4;
  --fleet-color-gray-warm-200: #e7e5e4;
  --fleet-color-gray-warm-300: #d7d3d0;
  --fleet-color-gray-warm-400: #a9a29d;
  --fleet-color-gray-warm-500: #79716b;
  --fleet-color-gray-warm-600: #57534e;
  --fleet-color-gray-warm-700: #44403c;
  --fleet-color-gray-warm-800: #292524;
  --fleet-color-gray-warm-900: #1c1917;
  --fleet-color-gray-warm-950: #171412;

  /* Moss */
  --fleet-color-moss-25: #fafdf7;
  --fleet-color-moss-50: #f5fbee;
  --fleet-color-moss-100: #e6f4d7;
  --fleet-color-moss-200: #ceeab0;
  --fleet-color-moss-300: #acdc79;
  --fleet-color-moss-400: #86cb3c;
  --fleet-color-moss-500: #669f2a;
  --fleet-color-moss-600: #4f7a21;
  --fleet-color-moss-700: #3f621a;
  --fleet-color-moss-800: #335015;
  --fleet-color-moss-900: #2b4212;
  --fleet-color-moss-950: #1a280b;

  /* Green Light */
  --fleet-color-green-light-25: #fafef5;
  --fleet-color-green-light-50: #f3fee7;
  --fleet-color-green-light-100: #e4fbcc;
  --fleet-color-green-light-200: #d0f8ab;
  --fleet-color-green-light-300: #a6e767;
  --fleet-color-green-light-400: #85e13a;
  --fleet-color-green-light-500: #66c61c;
  --fleet-color-green-light-600: #4ca30d;
  --fleet-color-green-light-700: #3b7c0f;
  --fleet-color-green-light-800: #326212;
  --fleet-color-green-light-900: #2b5314;
  --fleet-color-green-light-950: #15290a;

  /* Green */
  --fleet-color-green-25: #f6fef9;
  --fleet-color-green-50: #edfcf2;
  --fleet-color-green-100: #d3f8df;
  --fleet-color-green-200: #aaf0c4;
  --fleet-color-green-300: #73e2a3;
  --fleet-color-green-400: #3cbf7f;
  --fleet-color-green-500: #16b364;
  --fleet-color-green-600: #099250;
  --fleet-color-green-700: #087443;
  --fleet-color-green-800: #095c37;
  --fleet-color-green-900: #084c2e;
  --fleet-color-green-950: #052e1c;

  /* Teal */
  --fleet-color-teal-25: #f0fdf9;
  --fleet-color-teal-50: #ccfbf0;
  --fleet-color-teal-100: #99f9e0;
  --fleet-color-teal-200: #5fe9d0;
  --fleet-color-teal-300: #2ed3b7;
  --fleet-color-teal-400: #15b79e;
  --fleet-color-teal-500: #0e9384;
  --fleet-color-teal-600: #0c776c;
  --fleet-color-teal-700: #125d56;
  --fleet-color-teal-800: #134e48;
  --fleet-color-teal-900: #0a2926;

  /* Cyan */
  --fleet-color-cyan-25: #f5feff;
  --fleet-color-cyan-50: #ecfdff;
  --fleet-color-cyan-100: #cff9fe;
  --fleet-color-cyan-200: #a5f0fc;
  --fleet-color-cyan-300: #67e3f9;
  --fleet-color-cyan-400: #22ccee;
  --fleet-color-cyan-500: #06aed4;
  --fleet-color-cyan-600: #088ab2;
  --fleet-color-cyan-700: #0e7090;
  --fleet-color-cyan-800: #155b75;
  --fleet-color-cyan-900: #164c63;
  --fleet-color-cyan-950: #0d2d3a;

  /* Blue Light */
  --fleet-color-blue-light-25: #f5fbff;
  --fleet-color-blue-light-50: #f0f9ff;
  --fleet-color-blue-light-100: #e0f2fe;
  --fleet-color-blue-light-200: #b9e6fe;
  --fleet-color-blue-light-300: #7cd4fd;
  --fleet-color-blue-light-400: #36bffa;
  --fleet-color-blue-light-500: #0ba5ec;
  --fleet-color-blue-light-600: #0086c9;
  --fleet-color-blue-light-700: #026aa2;
  --fleet-color-blue-light-800: #065986;
  --fleet-color-blue-light-900: #0b4a6f;
  --fleet-color-blue-light-950: #062c41;

  /* Blue */
  --fleet-color-blue-25: #f5faff;
  --fleet-color-blue-50: #eff8ff;
  --fleet-color-blue-100: #d1e9ff;
  --fleet-color-blue-200: #b2ddff;
  --fleet-color-blue-300: #84caff;
  --fleet-color-blue-400: #53b1fd;
  --fleet-color-blue-500: #2e90fa;
  --fleet-color-blue-600: #1570ef;
  --fleet-color-blue-700: #175cd3;
  --fleet-color-blue-800: #1849a9;
  --fleet-color-blue-900: #194185;
  --fleet-color-blue-950: #102a56;

  /* Blue Dark */
  --fleet-color-blue-dark-25: #f5f8ff;
  --fleet-color-blue-dark-50: #eff4ff;
  --fleet-color-blue-dark-100: #d1e0ff;
  --fleet-color-blue-dark-200: #b2ccff;
  --fleet-color-blue-dark-300: #84adff;
  --fleet-color-blue-dark-400: #528bff;
  --fleet-color-blue-dark-500: #2970ff;
  --fleet-color-blue-dark-600: #155eef;
  --fleet-color-blue-dark-700: #004ecb;
  --fleet-color-blue-dark-800: #0040c1;
  --fleet-color-blue-dark-900: #00359e;
  --fleet-color-blue-dark-950: #002266;

  /* Indigo */
  --fleet-color-indigo-25: #f5f8ff;
  --fleet-color-indigo-50: #eef4ff;
  --fleet-color-indigo-100: #e0eaff;
  --fleet-color-indigo-200: #c7d7fe;
  --fleet-color-indigo-300: #a4bcfd;
  --fleet-color-indigo-400: #8098f9;
  --fleet-color-indigo-500: #6172f3;
  --fleet-color-indigo-600: #444ce7;
  --fleet-color-indigo-700: #3538cd;
  --fleet-color-indigo-800: #2d31a6;
  --fleet-color-indigo-900: #2d3282;
  --fleet-color-indigo-950: #1f235b;

  /* Violet */
  --fleet-color-violet-25: #fbfaff;
  --fleet-color-violet-50: #f5f3ff;
  --fleet-color-violet-100: #ece9fe;
  --fleet-color-violet-200: #ddd6fe;
  --fleet-color-violet-300: #c3b5fd;
  --fleet-color-violet-400: #a48afb;
  --fleet-color-violet-500: #875bff;
  --fleet-color-violet-600: #7839ee;
  --fleet-color-violet-700: #6927da;
  --fleet-color-violet-800: #5720b7;
  --fleet-color-violet-900: #491c96;
  --fleet-color-violet-950: #2e125e;

  /* Purple */
  --fleet-color-purple-25: #fafaff;
  --fleet-color-purple-50: #f4f3ff;
  --fleet-color-purple-100: #ebe9fe;
  --fleet-color-purple-200: #d9d6fe;
  --fleet-color-purple-300: #bdb4fe;
  --fleet-color-purple-400: #9b8afb;
  --fleet-color-purple-500: #7a5af8;
  --fleet-color-purple-600: #6938ef;
  --fleet-color-purple-700: #5925dc;
  --fleet-color-purple-800: #4a1fb8;
  --fleet-color-purple-900: #3e1c96;
  --fleet-color-purple-950: #27115f;

  /* Fuchsia */
  --fleet-color-fuchsia-25: #fefaff;
  --fleet-color-fuchsia-50: #fdf4ff;
  --fleet-color-fuchsia-100: #fbe8ff;
  --fleet-color-fuchsia-200: #f6d0fe;
  --fleet-color-fuchsia-300: #eaaafd;
  --fleet-color-fuchsia-400: #e478fa;
  --fleet-color-fuchsia-500: #d444f1;
  --fleet-color-fuchsia-600: #ba24d5;
  --fleet-color-fuchsia-700: #9e1cd1;
  --fleet-color-fuchsia-800: #821890;
  --fleet-color-fuchsia-900: #6f1877;
  --fleet-color-fuchsia-950: #47104c;

  /* Pink */
  --fleet-color-pink-25: #fdf2fa;
  --fleet-color-pink-50: #fce7f6;
  --fleet-color-pink-100: #fcceee;
  --fleet-color-pink-200: #fbaadd;
  --fleet-color-pink-300: #f670c7;
  --fleet-color-pink-400: #ee46bc;
  --fleet-color-pink-500: #dd2590;
  --fleet-color-pink-600: #c11574;
  --fleet-color-pink-700: #9e165f;
  --fleet-color-pink-800: #851651;
  --fleet-color-pink-900: #6b0e44;
  --fleet-color-pink-950: #4e0d30;

  /* Rose */
  --fleet-color-rose-25: #fff5f6;
  --fleet-color-rose-50: #fff1f3;
  --fleet-color-rose-100: #ffe4e8;
  --fleet-color-rose-200: #fecdd6;
  --fleet-color-rose-300: #fea3b4;
  --fleet-color-rose-400: #fd6f8e;
  --fleet-color-rose-500: #f63d68;
  --fleet-color-rose-600: #e31b54;
  --fleet-color-rose-700: #c01048;
  --fleet-color-rose-800: #a11043;
  --fleet-color-rose-900: #89123e;
  --fleet-color-rose-950: #510b24;

  /* Orange Dark */
  --fleet-color-orange-dark-25: #fffaf5;
  --fleet-color-orange-dark-50: #fff4ed;
  --fleet-color-orange-dark-100: #ffe6d5;
  --fleet-color-orange-dark-200: #ffd6ae;
  --fleet-color-orange-dark-300: #ff9c66;
  --fleet-color-orange-dark-400: #ff692e;
  --fleet-color-orange-dark-500: #ff4405;
  --fleet-color-orange-dark-600: #e62e05;
  --fleet-color-orange-dark-700: #bc1b06;
  --fleet-color-orange-dark-800: #97180c;
  --fleet-color-orange-dark-900: #771a0d;
  --fleet-color-orange-dark-950: #57130a;

  /* Orange */
  --fleet-color-orange-25: #fefaf5;
  --fleet-color-orange-50: #fef6ee;
  --fleet-color-orange-100: #fdead7;
  --fleet-color-orange-200: #f9dbaf;
  --fleet-color-orange-300: #f7b27a;
  --fleet-color-orange-400: #f38744;
  --fleet-color-orange-500: #ef6820;
  --fleet-color-orange-600: #e04f16;
  --fleet-color-orange-700: #b93815;
  --fleet-color-orange-800: #932f19;
  --fleet-color-orange-900: #772917;
  --fleet-color-orange-950: #511c10;

  /* Yellow */
  --fleet-color-yellow-25: #fefdf0;
  --fleet-color-yellow-50: #fefbe8;
  --fleet-color-yellow-100: #fef7c3;
  --fleet-color-yellow-200: #feee95;
  --fleet-color-yellow-300: #fac515;
  --fleet-color-yellow-400: #eaaa08;
  --fleet-color-yellow-500: #ca8504;
  --fleet-color-yellow-600: #a15c07;
  --fleet-color-yellow-700: #854a0e;
  --fleet-color-yellow-800: #713b12;
  --fleet-color-yellow-900: #542c0d;
  --fleet-color-yellow-950: #331a06;
}
