// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//Default
// $primary: #101828;
// $secondary: #1570ef;
//Option 1
//$primary: #3C4F76;
//$secondary: #7F56D9;

//Option 2
$primary: #0077b6;
$secondary: #00b4d8;


//Option 3
$primary: #3F51B5;
$secondary: #009688;

$accent: #6938ef;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #099250;
$negative: #992020;
$info: #06aed4;
$warning: #e63b00;
